*{
			/*margin:*/
			padding: 0;
			box-sizing: border-box;
		}

		 .container{
		 	max-width: 1300;
		 	margin: auto;
		 	/*padding-left: 25px;
		 	padding-right:25px; */
		 }

		.navbar{
			display: flex;
			align-items: center;
			padding: 10px;
		}

		.logo-name{
			display: flex;
			align-items: center;
		}

		.logo-name img{
			width: 70px;
			margin-left:15px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 11px;
		}

		 .description{
		   	line-height: 10px;
		   }
		   
		span{
			color: red;
			font-size: 28px;
		}
		nav{
			flex: 1;
			text-align: right;
		}

		nav ul{
			display: inline-block;
			list-style-type: none;
		}

		nav ul li{
			display: inline-block;
			margin-right: 25px;
		}

		nav li:hover{
			background:red;
			padding:5px;
		}

		nav a{
			text-decoration: none;
			color: #555;
		}

		hr{
			color: red;
		}
		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 20px;
			color: #555;
			letter-spacing:8px;
			position: relative;
			line-height: 40px;
		}

		.topic::after{
			content: '';
			background:#ff523b;
			width: 200px;
			height: 5px;
			border-radius: 5px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		 .container{
		 	background:radial-gradient(#fff, #ffd6d6);
		 }

		  .mini-box{
		 	display: flex;
		 	align-items: center;
		 	flex-wrap: wrap;
		 	justify-content: space-around;
		 }

		   .boxx{
		  	max-width: 1080px;
		  	margin:auto;
		  	padding-left:10px;
		  	padding-right: 15px;
		  	position: relative;bottom: 20px;
		  }

		  .cover-page{
		  	flex-basis: 20%;
		  	padding: 10px;
		  	min-width: 150px;
		  	margin-bottom:60px;
		  	transition: transform 0.5s;
		  }

		  .cover-page a{
		  	text-decoration: none;
		  }

		  .cover-page img{
		  	width:100%;
		  	height: 190px;
		  	border-radius: 10px;
		  	
		  }

		   .boxx .cover-page:hover{
		   	transform: translateY(-10px);
		    }
		  .rate{
		  	color:red;
		  	margin-left: 10px;
		  	font-size: 15px;
		  	font-family: courier;
		  }

		  .author{
		  	color:black;
		  	margin-left: 30px;
		  	font-size: 15px;
		  	margin-bottom: 5px;
		  	line-height: 5px;
		  	font-family: courier;
		  }

		  	.social-media ul li{
				display: inline-block;
				margin-right: 20px;
				text-align: center;
			}

			.social-media {
				text-align: center;
				margin-bottom:30px;
				height: 50px;
				}

			.social-media a{
				text-decoration: none;
			}

			.footer{
		   	background:radial-gradient(#fff, #ffd6d6);
		   	color: #8a8a8a;
		   	font-size: 14px;
		   	padding: 5px 0 10px;
		   }
		   body{
		   	margin-bottom: 10px;
		   }

		   .fab{
		   	font-size: 30px;
		   	letter-spacing: 15px;
		   }

		   .line{
		   	color: white;
		   	position: relative;bottom: 15px;
		   }

		     .copyright{
		   	text-align: center; 
		   	font-family: courier;
		   	font-size: 15px;

		   }

		.srch{
			display: none;
		}

		 .menu-icon{
		   	margin-left: 20px;
		   	display: none;
		   	width:28px;
		   }

 @media only screen and (max-width: 700px){
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul li{
		display:inline-block;
		margin-right: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 9px;
	}

	nav ul li a{
		color: #fff;
	}


	.menu-icon{
		display: block;
		cursor: pointer;
		margin-right: 10px;
		width: 30px;
	}
	 .logo-name img{
			width: 30px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 9px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 8px;
		}

		 .description{
		   	line-height: 10px;
		   }
		    .path{
		   	font-size: 10px;
		   	margin-left: 20px;
		   }
		    .one{
		   	width: 60px;
		   }
		   .topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 10px;
			color: #555;
			letter-spacing:5px;
			position: relative;
			line-height: 20px;
			margin-top: 60px;
		}

}

 @media only screen and (min-width: 701px){
 	.logo-name img{
			width: 50px;
			margin-left:15px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 12px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 10px;
		}

		 .description{
		   	line-height: 10px;

		   }
		   
		span{
			color: red;
			font-size: 25px;
		}
		nav{
			flex: 1;
			text-align: right;
		}

		nav ul{
			display: inline-block;
			list-style-type: none;
		}

		nav ul li{
			display: inline-block;
			margin-right: 30px;
			font-size: 10px;
		}
		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 15px;
			color: #555;
			letter-spacing:8px;
			position: relative;
			line-height: 40px;
		}
		.path{
			font-size: 10px;
		}
		/* .menu-icon{
		   	margin-left: 20px;
		   	display:inline-block;
		   }*/
 	}

 	@media only screen and (min-width:900px){
 		.logo-name img{
			width: 50px;
			margin-left:15px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 15px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 10px;
		}

		 .description{
		   	line-height: 10px;

		   }
		   
		span{
			color: red;
			font-size: 28px;
		}
		nav{
			flex: 1;
			text-align: right;
		}

		nav ul{
			display: inline-block;
			list-style-type: none;
		}

		nav ul li{
			display: inline-block;
			margin-right: 30px;
			font-size: 16px;
		}
		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 20px;
			color: #555;
			letter-spacing:8px;
			position: relative;
			line-height: 40px;
		}
		.path{
			font-size: 13px;
		}
	}

	@media only screen and (min-width:1000px){
 		.logo-name img{
			width: 50px;
			margin-left:15px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 15px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 10px;
		}

		 .description{
		   	line-height: 10px;

		   }
		   
		span{
			color: red;
			font-size: 28px;
		}
		nav{
			flex: 1;
			text-align: right;
		}

		nav ul{
			display: inline-block;
			list-style-type: none;
		}

		nav ul li{
			display: inline-block;
			margin-right: 30px;
			font-size: 16px;
		}
		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 20px;
			color: #555;
			letter-spacing:8px;
			position: relative;
			line-height: 40px;
		}
		.path{
			font-size: 13px;
		}
	}

	@media only screen and (min-width:1200px){
 		.logo-name img{
			width: 70px;
			margin-left:15px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 15px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 10px;
		}

		 .description{
		   	line-height: 10px;

		   }
		   
		span{
			color: red;
			font-size: 28px;
		}
		nav{
			flex: 1;
			text-align: right;
		}

		nav ul{
			display: inline-block;
			list-style-type: none;
		}

		nav ul li{
			display: inline-block;
			margin-right: 50px;
			font-size: 17px;

		}
		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 20px;
			color: #555;
			letter-spacing:8px;
			position: relative;
			line-height: 40px;
		}
		.path{
			font-size: 17px;
			margin-top: 10px;
		}
	}

/*@media only screen and (max-width: 600px){
	.mini-box,.nav-bar{
		text-align: center;
	}
	.cover-page,.nav-bar{
		flex-basis: 100%
	}


	}

	@media only screen and (max-width: 576px){
		 .logo-name img{
			width: 30px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 9px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 7px;
		}

		 .description{
		   	line-height: 10px;
		   }

		   .path{
		   	font-size: 10px;
		   	margin-left: 20px;
		   }
		   .one{
		   	width: 60px;
		   }
	    nav ul li{
		display:inline-block;
		margin-right: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 10px;
	}
	span{
			color: red;
			font-size: 20px;
		}

		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 10px;
			color: #555;
			letter-spacing:5px;
			position: relative;
			line-height: 20px;
			margin-top: 90px;
		}
		.menu-icon{
		display: block;
		cursor: pointer;
	}

	}
*/
	/*	@media only screen and (max-width: 768px){
		 .logo-name img{
			width: 50px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 11px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 9px;
		}

		 .description{
		   	line-height: 20px;
		   }

		   .path{
		   	font-size: 10px;
		   	margin-left: 20px;
		   }
		   .one{
		   	width: 60px;
		   }
	    nav ul li{
		display:inline-block;
		margin-right: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 10px;
	}
	span{
			color: red;
			font-size: 20px;
		}

		.topic {
			margin: 10px;
			padding: 10px;
			text-align: center;
			margin: 0 auto 80px;
			font-size: 15px;
			color: #555;
			letter-spacing:5px;
			position: relative;
			line-height: 20px;
			margin-top: 90px;
		}
		.menu-icon{
		display: block;
		cursor: pointer;
	}
	
	}*/

