.links li{
			display: inline-block;
		}

		.image_author{
			display: flex;
			align-items: center;
		}
		.image{
			width:200px;	
		}
		.image img{
			width: 150px;
			margin-left:20px;
			border-radius: 10px;
		}
		.writ{
			float: right;
			width:600px;
			margin-left: 10px;
			margin-bottom: 130px;

		}
		.btn{
			margin-left:20px;
		}
		.p{
			margin-left: 20px;
		}
		.design{
		padding:15px;
		word-spacing: 15px;

	}

	.design a{
		text-decoration: none;
		background-color: pink;
		color: white;
		padding:10px;
		border-radius:4px;


	}

	.design a:hover{
		background-color: black;
	}

	.disable{
		display: none;
	}

	 .container{
		 	max-width: 1300;
		 	margin: auto;
		 	background:radial-gradient(#fff, #ffd6d6);
		 	/*padding-left: 25px;
		 	padding-right:25px; */
		 }

		.navbar{
			display: flex;
			align-items: center;
			padding: 10px;
		}

		.logo-name{
			display: flex;
			align-items: center;
		}

		.logo-name img{
			width: 70px;
			margin-left:15px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 11px;
		}

		 .description{
		   	line-height: 10px;
		   }
		   
		span{
			color: red;
			font-size: 28px;
		}
		nav{
			flex: 1;
			text-align: right;
		}

		nav ul{
			display: inline-block;
			list-style-type: none;
		}

		nav ul li{
			display: inline-block;
			margin-right: 25px;
		}

		nav li:hover{
			background:red;
			padding:5px;
		}

		nav a{
			text-decoration: none;
			color:#555;
		}

		hr{
			color: red;
		}

		.menu-icon{
			display: none;
		}

		/*......media query........*/


@media only screen and (max-width: 600px){
    nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: inline-block;
		margin-right: 35px;
		font-size: 10px;
		/*margin-right: 40px;
		padding-right: 10px;*/
		position: relative;right: 25px;
		}

	nav ul li a{
		color: #fff;
	}


	.menu-icon{
		display: block;
		cursor: pointer;
		/*margin-right: 10px;*/
		width:30px;
	}
	 .logo-name img{
			width: 40px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 10px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 8px;
		}

		.image_author{
			display: flex;
			align-items: center;
			margin-left: 40px;
		}

		.image img{
			width: 50px;
			margin-left:5px;
			position: relative;right: 8px;
			border-radius: 10px;
			/*margin-top: 5px;*/
			margin-bottom:180px; 
		}
		.writ{
			/*float: right;*/
			width:80px;
			/*margin-right: 180px;*/
			position: relative;right: 60px;
			position: relative;top: 60px;
			font-size: 10px;
			
			/*margin-bottom: 130px;*/

		}

		.p{
			position: relative;top: 35px;
			position: relative;right: 15px; 
			font-family: courier;
			font-size:10px;

		}

		
		}

		@media only screen and (min-width: 601px){
  		nav ul li{
		display:inline-block;
		margin-right: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 9px;
	}
        .logo-name img{
			width: 40px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 10px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 8px;
		}

		.p{ 
			font-family: courier;
			font-size:13px;

		}
		.image_author{
			margin-left: 20px;
		}

		.image img{
			width: 70px;
			margin-left:1px;
			border-radius: 10px;
			margin-bottom: 210px;

	}

		.writ{
			float: right;
			width:100px;
			position: relative;right: 90px;
			font-size: 10px;
			margin-top: 20px;
			

		}

 @media only screen and (min-width: 700px){ 
	  	nav ul li{
		display:inline-block;
		margin-right: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 12px;
	}
        .logo-name img{
			width: 55px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 14px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 10px;
		}

			}
		.image_author{
			margin-left: 20px;
		}

		.image img{
			width: 70px;
			margin-left:1px;
			border-radius: 10px;
			margin-bottom: 210px;

	}

		.writ{
			float: right;
			width:120px;
			position: relative;right: 90px;
			font-size: 10px;
			margin-top: 20px;
			

		}
	}

	 @media only screen and (min-width: 900px){
	 	nav ul li{
		display:inline-block;
		margin-right: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 15px;
	}

	  .logo-name img{
			width: 60px;
			margin-left:10px;
			margin-top:5px;
		}
		.name{
			margin-left: 10px;
			font-size: 15px;
		}
		.sub-name{
			margin-left: 12px;
			font-size: 10px;
		}
			.image_author{
			margin-left: 40px;
		}

		.image img{
			width: 90px;
			margin-left:1px;
			border-radius: 10px;
			margin-bottom: 210px;

	}

		.writ{
			float: right;
			width:200px;
			position: relative;right: 90px;
			font-size: 15px;
			margin-top: 20px;
			

		}
	}